.form {
    padding-top: 100px; /* padding from the top to get this below the nav bar */
}
label{
    width: 85%;

}
#names label {
    /* float: left; */
    width: 25%;
    margin-right: 0.2cm;
    padding-top: 0.2cm;
    font-weight: bold;
}
#feedback label{
    margin-right: 0.2cm;
    margin-right: 0.2cm;
    padding-top: 0.2cm;
    font-weight: bold;

}
.text1{
    text-align: center;
}
fieldset {
    padding: 1em;
    font: 80%/1 sans-serif; /* corrected font size declaration */
    border-radius: 1cm;
    
}

.form {
    display: flex;
    justify-content: center;
}

.eachfield {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 1em;
}

input[type="submit"] {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: #189ab4;
    color: white;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}
