body{
    margin: 0;
    background: #56667A;
    font-family: Arial, sans-serif;
    font-weight: 300;
}
.container{
    width: 80%;
    margin: 0 auto;

}
header{
    background: #5f4b66;
    padding-left: 20px;
}
.logo{
    float: left;
    padding-left: 0%;
    /* padding-right: 30%; */
}
nav{
    text-align: center;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-right: 0 35px;
}