.page-container{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  border: 3px solid orange;
}

.page-container .overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.container {
    height: 500px;
    width: 400px;
    border-radius: 5px;
    position: relative;
    background: white;
    z-index: 2;
  }
  .log-in-button {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #log-in{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #log-in:hover{
    cursor: pointer;
  }
  .text{
    padding-left: 10px;
  }
  #data-collection{
    
    border: 3px solid blue;

  }
  .log-in-form{
    padding-left: 10px;
  }