body{
    margin: 0;
    background-image: linear-gradient(to top, #05445e, black) ; 
}
.container {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}
.modal{
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 90ch;
    z-index: 1;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(126, 194, 227, 0.2);
    border-radius: 15px;
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
}


.button{
    display: flex;
    justify-content: space-between;
    
    
}
#submit-button:hover{
    cursor: pointer;
    background-color: #d49d30;
}
#skip-button:hover{
    cursor: pointer;
    background-color: #d49d30;
}
#skip-button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #daab4e;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    transform: translate(20%, 230%);
}
#submit-button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #daab4e;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    transform: translate(-20%, 230%);
}



.pop-up{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 400px !important;
    height: 100px !important;
    padding-top: 75px;
}

#question-answer {
    width: 350px; 
    height: 30px;
    margin-top: 0.5rem;
    border-radius: 15px;
    opacity: 0.4;
    
}


.progress {
    position: fixed; 
    top: calc(50% + 150px); 
    left: 50%; 
    transform: translate(-50%, 50%); 
    width: 400px;
    height: 20px;
    background-color: #9cbab4;
    z-index: 1; 
    border-radius: 5px;
    overflow: hidden;
    display: block;
}
.progress-fill{
    width: 0%;
    height: 100%;
    background: #009579;
    
}
.progress-text{
    position: absolute;
    top: 10%;
    right: 5px;
    transform: translate(-10%);
    font: bold 14px 'Quicksand' , sans-serif;
    color: white;
    
}

.input{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-bottom: 40px;
    
}
#heading{
    color: white;
    transform: translate(5%, 25% );
}

.foot{
    bottom: 0 !important;
}

.step1, .step2, .step3{
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: #009579;
    background-color: #009579;
    z-index: 1;
    width: 400px;
    height: 300px;
    

}

