.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.modal{
    padding: 20px;
    max-width: 50ch;


    & > * {
        margin: 0 0 0.5rem 0;
    }

}

.button{
    display: flex;
    justify-content: space-between;

}
#skip-button{
    width: 100px;
    height: 30px;
}
#submit-button{
    width: 100px;
    height: 30px;
}

form{
    padding: 100px;
}
